html,
body {
  height: 100%;
  margin: 0; /* Ensure there are no margins on the body */
}

body {
  background: #b0e1f8;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

a {
  color: rgba(39, 33, 66, 0.8);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: auto;
  margin-top: 60px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 100%;
  border-radius: 6px;
}
.search-button {
  font-size: 16px;
  background-color: #b0e1f8;
  color: rgba(39, 33, 66, 0.8);
  border: none;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
main {
  padding: 30px 0;
}

ul {
  margin: 0;
}

.current-temperature {
  font-size: 48px;
}

.current-city {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 0;
}

.weather-info {
  border-top: 1px solid #f9f7fe;
  margin-top: 20px;
  padding-top: 20px;
}

.current-info {
  color: rgba(39, 33, 66, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
}

.current-details strong {
  color: #f65282;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
}

.current-temperature-value {
  font-size: 55px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 55px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
}

@media (max-width: 768px) {
  .search-button {
    margin-top: 10px;
  }
}
